In [1]:
#import dependencies
import pandas as pd
import csv

In [2]:
#identifies file path
file = "purchase_data.csv"

In [3]:
#reads csv file and creates dataframe
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#counts the number of unique players
uniqueplayers_count = len(df["SN"].unique())
uniqueplayers_count

576

In [5]:
#prints text to separate data
print("~~~Purchasing Analysis~~~")

~~~Purchasing Analysis~~~

In [6]:
#counts the number of unique items
uniqueitems_count = len(df["Item Name"].unique())
#calculates average price of items
price_average = df["Price"].mean()
#counts the number of total purchases
purchases_total= df["Purchase ID"].count()
#calculates the total sum of purchases (revenue)
revenue_total = df["Price"].sum()

In [7]:
#creates new df for Purchasing
purchasing_df= pd.DataFrame({
    "Total Number of Unique Items": [uniqueitems_count],
    "Average Price for Items": [price_average],
    "Total Number of Purchases": [purchases_total],
    "Total Revenue": [revenue_total]})
purchasing_df

,Total Number of Unique Items,Average Price for Items,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [8]:
#prints text to separate data
print("~~~Gender Demographics~~~")

~~~Gender Demographics~~~

In [9]:
#does a snapshot of current dataframe
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
#Creates a mini dataframe to determine unique players and counts by gender
gender_df = df.groupby(by='Gender', as_index=False).agg({'SN': pd.Series.nunique})
print(gender_df)

                  Gender   SN
0                 Female   81
1                   Male  484
2  Other / Non-Disclosed   11

In [11]:
#Indexes the count of males in mini df
male_count = gender_df.loc[1, "SN"]
#Indexes the count of females in mini df
female_count = gender_df.loc[0, "SN"]
#Indexes the count of other in mini df
other_count = gender_df.loc[2, "SN"]

In [12]:
#Calculates total percentage of unique players
malepercentage = male_count/uniqueplayers_count
femalepercentage = female_count/uniqueplayers_count
otherpercentage = other_count/uniqueplayers_count

In [13]:
#Formats the numbers into percentages
malepercentage = "{:.0%}".format(malepercentage)
femalepercentage = "{:.0%}".format(femalepercentage)
otherpercentage = "{:.0%}".format(otherpercentage)

In [14]:
#Creates Gender Demographics Dataframe
gender_df= pd.DataFrame({
    "% Males": [malepercentage],
    "%Females": [femalepercentage],
    "%Other": [otherpercentage],
    "Male Count": [male_count],
    "Female Count": [female_count],
    "Other": [other_count] 
})
gender_df

  % Males %Females %Other  Male Count  Female Count  Other
0     84%      14%     2%         484            81     11

In [15]:
#prints text to separate data
print("~~~Purchasing Analysis (Gender)~~~")

~~~Purchasing Analysis (Gender)~~~

In [16]:
# List all the columns in the table
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [17]:
#Creates a new table with only Purchase ID and Gender
purchase_df = df[["Purchase ID", "Gender"]]
#Group purchases by Gender
purchase_df = purchase_df.groupby("Gender")
#Calculates count of purchases by Gender
purchase_df.count()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [18]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [19]:
#Creates a new table with only Price and Gender
purchase_df = df[["Price", "Gender"]]
#Group prices by Gender
purchase_df = purchase_df.groupby("Gender")
#Calculates count of prices by Gender
purchase_df.mean()

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [20]:
#Creates a new table with only Price and Gender
purchase_df = df[["Price", "Gender"]]
#Group prices by Gender
purchase_df = purchase_df.groupby("Gender")
#Calculates sum of prices by Gender
purchase_df.sum()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [21]:
df.loc[:, ["Purchase ID", "Gender"]].head()
df = df.groupby("Gender")
df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [22]:
df = df.groupby("Gender")

df.count()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [ ]:
df = df.groupby("Gender")
df.sum()

In [ ]:
purchases_total
price_average
#total purchase value will be the sum of purchases per gender
#averagepurchasetotal will be the average of the previous variable

In [ ]:
#source in class exercise 4.2.6 GroupBy
# Using GroupBy in order to separate the data into fields according to "state" values
purchasinganalysis_df = df.groupby(["Gender"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(purchasinganalysis_df)

# In order to be visualized, a data function must be used...
purchasinganalysis_df.count().head(10)

In [ ]:
#prints text to separate data
print("~~~Age Demographics~~~")

In [ ]:
#source Exercise 3.3 in homework
#creates bins in which Data will be held
bins = [5, 10, 15, 20, 25, 30, 35, 40, 45]

#create names for the 8 bins
group_names = ["6-10", "11-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41-45"]

In [ ]:
#bins the data and creates column for Age Group
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)
df

In [ ]:
#Creating a group based off the bins
df = df.groupby("Age Group")
df.count()

In [ ]:
#original_df = original_df.groupby("Age Summary")
#original_df